---
import Layout from '../layouts/MainLayout.astro';
import { readdir } from 'node:fs/promises';

const imagePath = 'public/assets/hbs_classcard_photos';
const files = await readdir(imagePath);
const members = files.map(file => {
    const name = file
        .replace('.jpg', '')
        .split('_')
        .map(word => word.charAt(0).toUpperCase() + word.slice(1))
        .join(' ');
    return {
        name,
        imageUrl: `/assets/hbs_classcard_photos/${file}`
    };
});

const leadership = [
    {
        name: 'Dimitri Henry',
        title: 'Section President',
        quote: 'HBS/HKS!',
        imageUrl: '/assets/hbs_classcard_photos/dimitri_henry.jpg'
    },
    {
        name: 'Amaan Chaudhry',
        title: 'Treasurer',
        quote: 'P.E. in Industrials!',
        imageUrl: '/assets/hbs_classcard_photos/amaan_chaudhry.jpg'
    },
    {
        name: 'Nicolás Oriol',
        title: 'VP, Finance',
        quote: 'BCG lets gooo!!!!',
        imageUrl: '/assets/hbs_classcard_photos/nicolás_oriol.jpg'
    },
    {
        name: 'Tamara Halder',
        title: 'Education Representative',
        quote: 'Yeah McKinsey woohoo!!',
        imageUrl: '/assets/hbs_classcard_photos/tamara_halder.jpg'
    }
];
---

<Layout>
    <!-- Section Leadership -->
    <div class="bg-white p-6 md:p-8 rounded-lg shadow-lg mb-8">
        <h2 class="text-3xl font-bold text-gray-800 mb-6">Section J Leadership</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6">
            {leadership.map(leader => (
                <div class="text-center p-4 border border-gray-200 rounded-lg shadow-md">
                    <img
                        src={leader.imageUrl}
                        class="w-32 h-32 rounded-full mx-auto mb-4 border-4 border-white shadow-lg"
                        alt="Profile Photo"
                    />
                    <h3 class="text-xl font-semibold text-gray-900">{leader.name}</h3>
                    <p class="text-hbs-crimson font-medium">{leader.title}</p>
                    <p class="text-sm text-gray-600 mt-2">{leader.quote}</p>
                </div>
            ))}
        </div>
    </div>

    <!-- Section Directory -->
    <div class="bg-white p-6 md:p-8 rounded-lg shadow-lg">
        <h2 class="text-3xl font-bold text-gray-800 mb-6">Section J Directory</h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
            {members.map(member => (
                <a
                    href={`https://secure.hbs.edu/classcards/search.do?mode=advanced&name=${member.name.replace(' ', '+')}&partnerName=&studentYear=&studentYear=&sectionOrgId=&interests=&activities=&birthMonth=&birthDay=&showPhotos=on&homeRegionCity=&currentAddrCity=&currentAddrStateCode=&currentAddrCountryCode=&workCompany=&workTitle=&workCity=&workStateCode=&workCountryCode=&submit=`}
                    class="block bg-white p-4 rounded-lg shadow-sm border border-gray-200 hover:shadow-md hover:border-hbs-crimson transition"
                >
                    <div class="flex flex-col items-center">
                        <img
                            src={member.imageUrl}
                            alt={member.name}
                            class="w-24 h-24 rounded-full object-cover mb-3"
                        />
                        <h3 class="text-lg font-semibold text-gray-900 text-center">{member.name}</h3>
                    </div>
                </a>
            ))}
        </div>
    </div>
</Layout>
